.piechart{
    position: relative;
    left:40%;
}
@media screen and (max-width:800px) {
    .piechart{
        left:25%;
    }
    
}
@media screen and (max-width:500px) {
    .piechart{
        left:7%;
    }
    
}