.form_contents{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem;
    justify-content: space-around;
}
.form_content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.form_content input{
    margin: 5px 0px;
    width: 18rem;
    height: 1.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
}
.form_content button{
    margin: 2rem 2rem;
    width: 13rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: purple;
    border-radius: 5px;
}
