.newexpense{
    background-color: rgb(157, 105, 202);
    margin: 2rem;
    border-radius: 25px;
    height: 15rem;
    /* display: flex;
    flex-wrap: wrap; */
    /* padding: 2rem; */
}
@media screen and (max-width:800px) {
    .newexpense{
        border-radius: 25px;
        margin: 1.5rem;
        padding: 1rem;
    }
    
}